@charset "utf-8";
html,
body {
  margin: 0 auto;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  font-family: "맑은 고딕";
  width: 1200px;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #666666;
}
a:hover {
  color: #574747;
}
img {
  vertical-align: bottom;
}

/* header */
header {
  width: 100%;
  height: 100px;
  /* background-color: #dddddd; */
  display: flex;
  align-items: center;
  position: relative;
}
h1 {
  width: 200px; /* 200/1200 *100 = 16.66%*/
  height: 40px;
  /* background-color: #d2d2d2; */
}
h1 img {
  width: 100%;
}
/* 네비 */
#nav-wrap {
  width: 1000px; /* 1000/1200 * 100 = 83.3%*/
  height: 100px;
  /* background-color: #ccc; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
}
nav {
  width: 60%;
  height: 50%;
  background-color: rgb(102, 110, 102);
}
nav > ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
}
nav > ul > li {
  width: 25%;
  height: 100%;
  background-color: darkgreen;
  position: relative;
}
nav > ul > li > a {
  /* display: block; */
  width: 100%;
  height: 100%;
  color: white;
  border-right: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
nav > ul > li:last-child > a {
  border-right: none;
}
nav > ul > li > a:hover {
  background-color: rgb(67, 184, 230);
}

/* 콘텐츠 */
section {
  width: 100%;
  height: 500px;
  /* background-color: #f2f2f2; */
  margin: auto;
  position: relative;
}
#sliders-wrap {
  width: 100%;
  overflow: hidden;
}
.sliders {
  width: 300%;
  position: relative;
  left: 0;
  display: flex;
  list-style: none;
}
.sliders li {
  width: 33.33%;
}
.sliders li a {
  display: block;
  width: 100%;
  position: relative;
}
.sliders li a img {
  width: 100%;
}
.sliders li a span {
  padding: 20px;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 푸터 */
footer {
  width: 100%;
  height: 100px;
  background-color: #eeeeee;
}
